<?xml version="1.0"?>

<appSettings>
  <add key="username" value="jacobcrawford1990@gmail.com"/>
  <add key="password" value="hhpclxjkrgdbwfzj"/>
  <!--Key from Gmail ^ -->
  <add key="emailto" value="jacobcrawford1990@gmail.com"/>
  <add key="host" value="smtp.gmail.com"/>
  <add key="port" value="587"/>
</appSettings>
