


        <!-- START Sub-Navbar with Header and Breadcrumbs-->
        <div class="sub-navbar sub-navbar__header-breadcrumbs">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 sub-navbar-column">
                        <div class="sub-navbar-header">
                            <h3>DataTables</h3>
                        </div>
                        <ol class="breadcrumb navbar-text navbar-right no-bg">
                            <li class="current-parent">
                                <a class="current-parent" href="../index.html">
                                    <i class="fa fa-fw fa-home"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Tables
                                </a>
                            </li>
                            <li class="active">DataTables</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <!-- END Sub-Navbar with Header and Breadcrumbs-->

        <div class="container">
            <!-- START EDIT CONTENT -->
            <div class="row">
                <div class="col-lg-12">
                    <p>DataTables is a plug-in for the jQuery Javascript library. It is a highly flexible tool, based upon the foundations of progressive enhancement, and will add advanced interaction controls to any HTML table.</p>
                    <!-- START Zero Configuration -->
                    <h5 class="m-t-3">Zero Configuration</h5>
                    <p class="m-b-2">DataTables has most features enabled by default, so all you need to do to use it with your own tables is to call the construction function: <kbd>$().DataTable();</kbd></p>
                    <table id="datatables-example" class="display table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Position</th>
                                <th>Office</th>
                                <th>Salary</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-white">Tiger Nixon</td>
                                <td>System Architect</td>
                                <td>Edinburgh</td>
                                <td>$320,800</td>
                            </tr>

                        </tbody>
                    </table>
                    <!-- END Zero Configuration -->

                </div>
            </div>
            <!-- END EDIT CONTENT -->
        </div>
       
        <script src="~/Assets/vendor/js/jquery.dataTables.min.js"></script>
        <script src="~/Assets/vendor/js/dataTables.bootstrap.min.js"></script>


