
<!-- START Right Side Navbar -->
<ul class="nav navbar-nav navbar-right">
    <li role="separator" class="divider hidden-lg hidden-md hidden-sm"></li>
    <li class="dropdown-header hidden-lg hidden-md hidden-sm text-gray-lighter text-uppercase">
        <strong>Your Profile</strong>
    </li>
    <!-- START Notification -->
    <li class="dropdown">
        <!-- START Icon Notification with Badge (10)-->
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">
            <i class="fa fa-lg fa-fw fa-bell hidden-xs"></i>
            <span class="hidden-sm hidden-md hidden-lg">
                Notifications <span class="badge badge-primary m-l-1">10</span>
            </span>
            <span class="label label-primary label-pill label-with-icon hidden-xs">10</span>
            <span class="fa fa-fw fa-angle-down hidden-lg hidden-md hidden-sm"></span>
        </a>
        <!-- END Icon Notification with Badge (10)-->
        <!-- START Notification Dropdown Menu -->
        <ul class="dropdown-menu dropdown-menu-right p-t-0 b-t-0 p-b-0 b-b-0 b-a-0">
            <li>
                <div class="yamm-content p-t-0 p-r-0 p-l-0 p-b-0">
                    <ul class="list-group m-b-0 b-b-0">
                        <li class="list-group-item b-r-0 b-l-0 b-r-0 b-t-r-0 b-t-l-0 b-b-2 w-350">
                            <small class="text-uppercase">
                                <strong>Notifications</strong>
                            </small>
                            <a role="button" href="../apps/settings-edit.html" class="btn m-t-0 btn-xs btn-default pull-right">
                                <i class="fa fa-fw fa-gear"></i>
                            </a>
                        </li>
                        <!-- START Scroll Inside Panel -->
                        <li class="list-group-item b-a-0 p-x-0 p-y-0 b-t-0">
                            <div class="scroll-300 custom-scrollbar">
                                <a href="../pages/timeline.html" class="list-group-item b-r-0 b-t-0 b-l-0">
                                    <div class="media">
                                        <div class="media-left">
                                            <span class="fa-stack fa-lg">
                                                <i class="fa fa-circle-thin fa-stack-2x text-danger"></i>
                                                <i class="fa fa-close fa-stack-1x fa-fw text-danger"></i>
                                            </span>
                                        </div>
                                        <div class="media-body">
                                            <h5 class="m-t-0">
                                                <span>If we bypass the alarm, we can get to the FTP feed through the solid state FTP microchip!</span>
                                            </h5>
                                            <p class="text-nowrap small m-b-0">
                                                <span>04-Oct-2015, 07:10</span>
                                            </p>
                                        </div>
                                    </div>
                                </a>
                                <a href="../pages/timeline.html" class="list-group-item b-r-0 b-l-0">
                                    <div class="media">
                                        <div class="media-left">
                                            <span class="fa-stack fa-lg">
                                                <i class="fa fa-circle-thin fa-stack-2x text-primary"></i>
                                                <i class="fa fa-info fa-stack-1x text-primary"></i>
                                            </span>
                                        </div>
                                        <div class="media-body">
                                            <h5 class="m-t-0">
                                                <span>If we hack the program, we can get to the IB pixel through the 1080p SAS microchip!</span>
                                            </h5>
                                            <p class="text-nowrap small m-b-0">
                                                <span>03-Nov-2012, 12:20</span>
                                            </p>
                                        </div>
                                    </div>
                                </a>
                                <a href="../pages/timeline.html" class="list-group-item b-r-0 b-l-0">
                                    <div class="media">
                                        <div class="media-left">
                                            <span class="fa-stack fa-lg">
                                                <i class="fa fa-circle-thin fa-stack-2x text-success"></i>
                                                <i class="fa fa-check fa-stack-1x text-success"></i>
                                            </span>
                                        </div>
                                        <div class="media-body">
                                            <h5 class="m-t-0">
                                                <span>Use the mobile THX feed, then you can program the back-end protocol!</span>
                                            </h5>
                                            <p class="text-nowrap small m-b-0">
                                                <span>02-Sep-2011, 02:14</span>
                                            </p>
                                        </div>
                                    </div>
                                </a>
                                <a href="../pages/timeline.html" class="list-group-item b-r-0 b-l-0">
                                    <div class="media">
                                        <div class="media-left">
                                            <span class="fa-stack fa-lg">
                                                <i class="fa fa-circle-thin fa-stack-2x text-warning"></i>
                                                <i class="fa fa-exclamation fa-stack-1x fa-fw text-warning"></i>
                                            </span>
                                        </div>
                                        <div class="media-body">
                                            <h5 class="m-t-0">
                                                <span>I&apos;ll connect the primary SCSI matrix, that should hard drive the RAM bus!</span>
                                            </h5>
                                            <p class="text-nowrap small m-b-0">
                                                <span>16-May-2013, 04:24</span>
                                            </p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </li>
                        <!-- END Scroll Inside Panel -->
                        <li class="list-group-item b-a-0 p-x-0 p-y-0 r-a-0 b-b-0">
                            <a class="list-group-item text-center b-r-0 b-b-0 b-l-0 b-r-b-r-0 b-r-b-l-0" href="../pages/timeline.html">
                                See All Notifications <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
        <!-- END Notification Dropdown Menu -->
    </li>
    <!-- END Notification -->


</ul>
<!-- END Right Side Navbar -->


<div class="content">
    <!-- START Sub-Navbar with Header only-->
    <div class="sub-navbar sub-navbar__header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-header m-t-0">
                        <h3 class="m-t-0">Financial</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END Sub-Navbar with Header only-->
    <!-- START Sub-Navbar with Header and Breadcrumbs-->
    <div class="sub-navbar sub-navbar__header-breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 sub-navbar-column">
                    <div class="sub-navbar-header">
                        <h3>Financial</h3>
                    </div>
                    <ol class="breadcrumb navbar-text navbar-right no-bg">
                        <li class="current-parent">
                            <a class="current-parent" href="../index.html">
                                <i class="fa fa-fw fa-home"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Start
                            </a>
                        </li>
                        <li class="active">Financial</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- END Sub-Navbar with Header and Breadcrumbs-->

    <div class="container">
        <!-- START EDIT CONTENT -->
        <div class="row">
            <div class="col-lg-12">
                <!-- START ROW "Your Cash" Header -->
                <div class="row m-b-2">
                    <div class="col-md-4 col-sm-4 col-xs-4">
                        <h4 class="m-b-0 m-t-0 f-w-300">Your Cash</h4>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-4 col-xs-offset-4 col-sm-offset-4 col-md-offset-4 text-right">
                        <button type="button" class="btn btn-sm btn-default">USD<i class="fa m-l-1 fa-caret-down"></i> </button>
                    </div>
                </div>
                <!-- END ROW "Your Cash" Header -->
                <!-- START ROW "Your Cash" Panels -->
                <div class="row">
                    <!-- START Main Fundings -->
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="panel panel-default b-a-0 bg-gray-dark">
                            <div class="panel-heading">Main Fundings</div>
                            <div class="panel-body">
                                <h2 class="m-t-0 f-w-300">
                                    <span>$ 694.00</span>
                                </h2>
                                <i class="fa fa-fw fa-caret-up text-success"></i> <span>$ 284.00</span>
                            </div>
                        </div>
                    </div>
                    <!-- END Main Fundings -->
                    <!-- START Invoices -->
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="panel panel-default b-a-0 bg-gray-dark">
                            <div class="panel-heading">Invoices</div>
                            <div class="panel-body">
                                <h2 class="m-t-0 f-w-300">
                                    <span>$ 254.00</span>
                                </h2>
                                <i class="fa fa-fw fa-caret-down text-danger"></i> <span>$ 828.00</span>
                            </div>
                        </div>
                    </div>
                    <!-- END Invoices -->
                    <!-- START Accounts Receiveable -->
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="panel panel-default b-a-0 bg-gray-dark">
                            <div class="panel-heading">Accounts Receiveable</div>
                            <div class="panel-body">
                                <h2 class="m-t-0 f-w-300">
                                    <span>$ 346.00</span>
                                </h2>
                                <i class="fa fa-fw fa-caret-up text-success"></i> <span>$ 663.00</span>
                            </div>
                        </div>
                    </div>
                    <!-- END Accounts Receiveable -->
                    <!-- START Secure Holdings -->
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="panel panel-default b-a-0 bg-gray-dark">
                            <div class="panel-heading">Secure Holdings</div>
                            <div class="panel-body">
                                <h2 class="m-t-0 f-w-300">
                                    <span>$ 7.00</span>
                                </h2> No Change
                            </div>
                        </div>
                    </div>
                    <!-- END Secure Holdings -->
                </div>
                <!-- END ROW "Your Cash" Panels -->
                <!-- START ROW "Money Map" & "Recent Map" -->
                <div class="row">
                    <!-- START ROW "Money Map" -->
                    <div class="col-lg-5">
                        <!-- START ROW "Your Cash" Header -->
                        <div class="row m-b-2">
                            <div class="col-md-4">
                                <h4 class="m-b-0 f-w-300">Money Map</h4>
                            </div>
                            <div class="col-md-4 col-md-offset-4 text-right">
                            </div>
                        </div>
                        <!-- END ROW "Your Cash" Header -->
                        <div class="panel panel-default b-a-2 b-gray-dark no-bg">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-md-7 col-sm-7 col-xs-7">
                                        <div class="btn-group" role="group" aria-label="...">
                                            <div class="btn-group" role="group" aria-label="...">
                                                <button type="button" class="btn btn-sm btn-default">Last Month</button>
                                                <button type="button" class="btn btn-sm btn-default">This Month</button>
                                                <button type="button" class="btn btn-sm btn-default">Today</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-3 col-xs-offset-2 col-sm-offset-2 col-md-offset-2 text-right">
                                        <div class="btn-group" role="group" aria-label="...">
                                            <button type="button" class="btn btn-sm btn-default"><i class="fa fa-pie-chart"></i></button>
                                            <button type="button" class="btn btn-sm btn-default"><i class="fa fa-bar-chart"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="highcharts-pie-with-legend-money-map"></div>
                            </div>
                        </div>
                    </div>
                    <!-- END ROW "Money Map" -->
                    <!-- START ROW "Recent Funding" -->
                    <div class="col-lg-7">
                        <!-- START ROW "Your Cash" Header -->
                        <div class="row m-b-2">
                            <div class="col-md-4 col-sm-4 col-xs-6">
                                <h4 class="m-b-0 f-w-300">Recent Funding</h4>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-4 col-xs-offset-2 col-sm-offset-4 col-md-offset-4 text-right">
                                <button type="button" class="btn btn-sm btn-default">View All<i class="fa m-l-1 fa-angle-right"></i> </button>
                            </div>
                        </div>
                        <!-- END ROW "Your Cash" Header -->
                        <div class="panel panel-default b-a-2 b-gray-dark no-bg">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="small text-muted text-uppercase">
                                            <strong>Company</strong>
                                        </th>
                                        <th class="small text-muted text-uppercase">
                                            <strong>Amount</strong>
                                        </th>
                                        <th class="small text-muted text-uppercase">
                                            <strong>Date</strong>
                                        </th>
                                        <th class="small text-right text-muted text-uppercase">
                                            <strong>Action</strong>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="v-a-m"><span class="text-white">Adams, Rutherford and Cremin</span></td>
                                        <td class="v-a-m"><span>$ 933.00</span></td>
                                        <td class="v-a-m">
                                            <span>20-04-2011</span>
                                        </td>
                                        <td class="v-a-m text-right">
                                            <a href="#">View <i class="fa fa-angle-right"></i></a>
                                        </td>
                                    </tr>
                                   
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- END ROW "Recent Funding" -->
                </div>
                <!-- END ROW "Money Map" & "Recent Map" -->
                <!-- START ROW "Invoices" -->
                <div class="row">
                    <!-- START ROW "Invoices" -->
                    <div class="col-lg-12">
                        <!-- START ROW "Invoices" Header -->
                        <div class="row m-b-2">
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <h4 class="m-b-0 f-w-300">Invoices</h4>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-4 col-xs-offset-4 col-sm-offset-4 col-md-offset-4 text-right">
                                <button type="button" class="btn btn-sm btn-default">Pending<i class="fa m-l-1 fa-caret-down"></i> </button>
                            </div>
                        </div>
                        <!-- END ROW "Invoices" Header -->
                        <div class="panel panel-default b-a-2 b-gray-dark no-bg">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th class="small text-muted text-uppercase">
                                                <strong>Company</strong>
                                            </th>
                                            <th class="small text-muted text-uppercase">
                                                <strong>Amount</strong>
                                            </th>
                                            <th class="small text-muted text-uppercase">
                                                <strong>Date</strong>
                                            </th>
                                            <th class="small text-muted text-uppercase">
                                                <strong>Contact</strong>
                                            </th>
                                            <th class="small text-muted text-uppercase">
                                                <strong>Email</strong>
                                            </th>
                                            <th class="small text-right text-muted text-uppercase">
                                                <strong>Action</strong>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="v-a-m">
                                                <span class="text-white">Kris - Willms</span>
                                            </td>
                                            <td class="v-a-m">
                                                <span>$ 488.00</span>
                                            </td>
                                            <td class="v-a-m">
                                                <span>30-04-2013</span>
                                            </td>
                                            <td class="v-a-m">
                                                <span>Forest Schaden </span>
                                            </td>
                                            <td class="v-a-m">
                                                <a href="#"><span>George22@gmail.com</span></a>
                                            </td>
                                            <td class="v-a-m text-right">
                                                <a href="#">View <i class="fa fa-angle-right"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="v-a-m">
                                                <span class="text-white">Bechtelar - Bayer</span>
                                            </td>
                                            <td class="v-a-m">
                                                <span>$ 243.00</span>
                                            </td>
                                            <td class="v-a-m">
                                                <span>13-01-2013</span>
                                            </td>
                                            <td class="v-a-m">
                                                <span>Sebastian Ortiz </span>
                                            </td>
                                            <td class="v-a-m">
                                                <a href="#"><span>Nyah76@gmail.com</span></a>
                                            </td>
                                            <td class="v-a-m text-right">
                                                <a href="#">View <i class="fa fa-angle-right"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="v-a-m">
                                                <span class="text-white">Bins - Upton</span>
                                            </td>
                                            <td class="v-a-m">
                                                <span>$ 126.00</span>
                                            </td>
                                            <td class="v-a-m">
                                                <span>05-02-2011</span>
                                            </td>
                                            <td class="v-a-m">
                                                <span>Isadore Goodwin </span>
                                            </td>
                                            <td class="v-a-m">
                                                <a href="#"><span>Augustine_Parisian@yahoo.com</span></a>
                                            </td>
                                            <td class="v-a-m text-right">
                                                <a href="#">View <i class="fa fa-angle-right"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="v-a-m">
                                                <span class="text-white">Gaylord and Sons</span>
                                            </td>
                                            <td class="v-a-m">
                                                <span>$ 906.00</span>
                                            </td>
                                            <td class="v-a-m">
                                                <span>19-01-2011</span>
                                            </td>
                                            <td class="v-a-m">
                                                <span>Cleveland Dickens </span>
                                            </td>
                                            <td class="v-a-m">
                                                <a href="#"><span>Leola_Osinski11@hotmail.com</span></a>
                                            </td>
                                            <td class="v-a-m text-right">
                                                <a href="#">View <i class="fa fa-angle-right"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="v-a-m">
                                                <span class="text-white">Huels - Wolff</span>
                                            </td>
                                            <td class="v-a-m">
                                                <span>$ 871.00</span>
                                            </td>
                                            <td class="v-a-m">
                                                <span>31-07-2013</span>
                                            </td>
                                            <td class="v-a-m">
                                                <span>Ardella Muller </span>
                                            </td>
                                            <td class="v-a-m">
                                                <a href="#"><span>Korey63@hotmail.com</span></a>
                                            </td>
                                            <td class="v-a-m text-right">
                                                <a href="#">View <i class="fa fa-angle-right"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="v-a-m">
                                                <span class="text-white">Cormier - Wehner</span>
                                            </td>
                                            <td class="v-a-m">
                                                <span>$ 449.00</span>
                                            </td>
                                            <td class="v-a-m">
                                                <span>09-02-2013</span>
                                            </td>
                                            <td class="v-a-m">
                                                <span>Estell Kohler </span>
                                            </td>
                                            <td class="v-a-m">
                                                <a href="#"><span>Onie97@gmail.com</span></a>
                                            </td>
                                            <td class="v-a-m text-right">
                                                <a href="#">View <i class="fa fa-angle-right"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="v-a-m">
                                                <span class="text-white">Gaylord, Frami and Ebert</span>
                                            </td>
                                            <td class="v-a-m">
                                                <span>$ 445.00</span>
                                            </td>
                                            <td class="v-a-m">
                                                <span>23-08-2011</span>
                                            </td>
                                            <td class="v-a-m">
                                                <span>Ila Pfannerstill </span>
                                            </td>
                                            <td class="v-a-m">
                                                <a href="#"><span>Oren63@yahoo.com</span></a>
                                            </td>
                                            <td class="v-a-m text-right">
                                                <a href="#">View <i class="fa fa-angle-right"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="v-a-m">
                                                <span class="text-white">Schmitt, Rodriguez and Kuphal</span>
                                            </td>
                                            <td class="v-a-m">
                                                <span>$ 655.00</span>
                                            </td>
                                            <td class="v-a-m">
                                                <span>02-06-2015</span>
                                            </td>
                                            <td class="v-a-m">
                                                <span>Jacey Hirthe </span>
                                            </td>
                                            <td class="v-a-m">
                                                <a href="#"><span>Nash83@hotmail.com</span></a>
                                            </td>
                                            <td class="v-a-m text-right">
                                                <a href="#">View <i class="fa fa-angle-right"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="v-a-m">
                                                <span class="text-white">Nolan LLC</span>
                                            </td>
                                            <td class="v-a-m">
                                                <span>$ 279.00</span>
                                            </td>
                                            <td class="v-a-m">
                                                <span>14-03-2011</span>
                                            </td>
                                            <td class="v-a-m">
                                                <span>Marco O&apos;Reilly </span>
                                            </td>
                                            <td class="v-a-m">
                                                <a href="#"><span>Tiara.Kuphal@hotmail.com</span></a>
                                            </td>
                                            <td class="v-a-m text-right">
                                                <a href="#">View <i class="fa fa-angle-right"></i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- END ROW "Invoices" -->
                </div>
                <!-- END ROW "Invoices" -->
                <!-- START ROW "Account Performance" & "Dashboard Settings" -->
                <div class="row">
                    <!-- START ROW "Account Performance" -->
                    <div class="col-lg-9">
                        <!-- START ROW "Account Performance" Header -->
                        <div class="row m-b-2">
                            <div class="col-md-4">
                                <h4 class="m-b-0 f-w-300">Account Performance</h4>
                            </div>
                            <div class="col-md-4 col-md-offset-4 text-right">
                            </div>
                        </div>
                        <!-- END ROW "Account Performance" Header -->
                        <div class="panel panel-default b-a-2 b-gray-dark no-bg">
                            <div class="panel-body">
                                <div class="highcharts-area-with-missing-points"></div>
                            </div>
                        </div>
                    </div>
                    <!-- END ROW "Account Performance" -->
                    <!-- START ROW "Dashboard Settings" -->
                    <div class="col-lg-3">
                        <!-- START ROW "Your Cash" Header -->
                        <div class="row m-b-2">
                            <div class="col-md-9">
                                <h4 class="m-b-0 f-w-300">Dashboard Settings</h4>
                            </div>
                            <div class="col-md-2 col-md-offset-2 text-right">
                            </div>
                        </div>
                        <!-- END ROW "Your Cash" Header -->
                        <div class="panel panel-default b-a-2 b-gray-dark no-bg">
                            <!-- START Table -->
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td class="v-a-m">
                                            My Cash
                                        </td>
                                        <td class="v-a-m text-right">
                                            <input type="checkbox" class="js-switch-small" checked="checked">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="v-a-m">
                                            My Cap
                                        </td>
                                        <td class="v-a-m text-right">
                                            <input type="checkbox" class="js-switch-small" checked="checked">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="v-a-m">
                                            Recent Fundings
                                        </td>
                                        <td class="v-a-m text-right">
                                            <input type="checkbox" class="js-switch-small" checked="checked">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="v-a-m">
                                            Client List
                                        </td>
                                        <td class="v-a-m text-right">
                                            <input type="checkbox" class="js-switch-small" checked="checked">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="v-a-m">
                                            Invoice Creator
                                        </td>
                                        <td class="v-a-m text-right">
                                            <input type="checkbox" class="js-switch-small" checked="checked">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="v-a-m">
                                            Invoice Generator
                                        </td>
                                        <td class="v-a-m text-right">
                                            <input type="checkbox" class="js-switch-small" checked="checked">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="v-a-m">
                                            Sales Lead
                                        </td>
                                        <td class="v-a-m text-right">
                                            <input type="checkbox" class="js-switch-small" checked="checked">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="v-a-m">
                                            Q &amp; A
                                        </td>
                                        <td class="v-a-m text-right">
                                            <input type="checkbox" class="js-switch-small" checked="checked">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="v-a-m">
                                            Account Performance
                                        </td>
                                        <td class="v-a-m text-right">
                                            <input type="checkbox" class="js-switch-small" checked="checked">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- END Table -->
                        </div>
                    </div>
                    <!-- END ROW "Dashboard Settings" -->
                </div>
                <!-- END ROW "Account Performance" & "Dashboard Settings" -->
            </div>
        </div>
        <!-- END EDIT CONTENT -->
    </div>


    <script src="..//assets/vendor/js/highstock.min.js"></script>
    <script src="..//assets/javascript/highchart-themes/highcharts&amp;highstock-theme.js"></script>
    <script src="..//assets/javascript/highchart-themes/highcharts-settings.js"></script>
</div>


