


<body class="sidebar-disabled navbar-disabled footer-disabled loading">


    <!-- Bower Libraries Scripts -->
    <script src="../assets/vendor/js/lib.min.js"></script>

    <div class="main-wrap">
     

        <div class="content">
            <div class="container-fluid">
    <a class="btn btn-default m-t-2 m-b-1 action-navigate-back" href="#" role="button"><i class="fa fa-angle-left m-r-1"></i> Back</a>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default b-a-2 no-bg b-gray-dark">
                <div class="panel-heading text-center">
                    <a href="../index.html"> <img src="../assets/images/spin-logo-inverted-@2X.png" alt="Logo" class="m-t-3 m-b-3 h-20"></a>
                </div>
                <div class="panel-body">
                    <h2 class="text-center f-w-300 m-b-0">Register</h2>
                    <p class="text-center m-b-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <form>
                        <div class="form-group">
                            <label>Username</label>
                            <input class="form-control" placeholder="Enter a Username...">
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input class="form-control" placeholder="Enter a Password...">
                        </div>
                        <div class="form-group">
                            <label>Repeat Password</label>
                            <input class="form-control" placeholder="Repeat Password...">
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input class="form-control" placeholder="Enter a Email...">
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Accept Terms &amp; Privacy Policy
                            </label>
                        </div>
                        <a href="../index.html" role="button" class="btn m-b-2 btn-block btn-primary">Register</a>
                    </form>
                </div>
                <div class="panel-footer b-a-0 b-r-a-0">
                    <a href="../pages/forgot-password.html">Forgot Password?</a>
                    <a href="../pages/login.html" class="pull-right">Login</a>
                </div>
            </div>
            <p class="text-gray-light text-center"><strong>SPIN Dashboard </strong> <span class="text-gray-light">&#xA9; 2009 - 2016. Made by <i class="fa fa-fw fa-heart text-danger"></i> New York, US</span></p>
        </div>
    </div>
</div>

        </div>


 <!-- START Footer -->
<footer>
    <div class="container-fluid">
        <p class="text-gray-dark">
            <strong class="m-r-1">SPIN Dashboard </strong> 
            <span class="text-gray-dark">&#xA9; 2009 - 2016. Made by 
            <i class="fa fa-fw fa-heart text-danger"></i> New York, US</span>
        </p>
    </div>
</footer>
<!-- END Footer -->

    </div>

</body>
